---
import { button } from '~/styles.ts';
import Card from '~/components/ui/Card.tsx';

export interface Props {
	name: string;
	slug: string;
	imageUrl?: string;
	cta?: string;
}
---

<Card>
	<a href={`/collections/${Astro.props.slug}`} class="w-full">
		<article class="flex flex-col items-start gap-3 p-6">
			{
				Astro.props.imageUrl && (
					<img
						src={Astro.props.imageUrl.startsWith('/') ? Astro.props.imageUrl : new URL(Astro.props.imageUrl, Astro.url.origin).href}
						alt=""
						class="aspect-square size-full object-cover self-center"
						loading="lazy"
						width={390}
						height={390}
					/>
				)
			}
			<p class="text-pretty text-3xl font-semibold text-theme-base-100">
				{Astro.props.name}
			</p>
			<p class={button({ theme: 'dark' })}>
				{Astro.props.cta ?? 'Shop now'}
			</p>
		</article>
	</a>
</Card>
