---
import { Icon } from 'astro-icon/components';
import ExternalLink from '~/components/ui/ExternalLink.astro';
import SocialIconLink from './SocialIconLink.astro';

export interface Props {
	class?: string;
}
---

<footer class={Astro.props.class}>
	<section class="flex flex-wrap items-center justify-between gap-y-2 py-4">
		<ul class="flex flex-wrap gap-2" aria-label="Supported payment methods">
			<li>
				<Icon name="visa" width={48} height={28} aria-hidden="true" />
				<div class="sr-only">Visa</div>
			</li>
			<li>
				<Icon name="mastercard" width={48} height={28} aria-hidden="true" />
				<div class="sr-only">Mastercard</div>
			</li>
			<li>
				<Icon name="paypal" width={48} height={28} aria-hidden="true" />
				<div class="sr-only">Paypal</div>
			</li>
			<li>
				<Icon name="apple-pay" width={48} height={28} aria-hidden="true" />
				<div class="sr-only">Apple Pay</div>
			</li>
			<li>
				<Icon name="klarna" width={48} height={28} aria-hidden="true" />
				<div class="sr-only">Klarna</div>
			</li>
			<li>
				<Icon name="amex" width={48} height={28} aria-hidden="true" />
				<div class="sr-only">Amex</div>
			</li>
		</ul>
		<ul class="flex flex-wrap gap-2" aria-label="Social links">
			<li>
				<SocialIconLink name="Bluesky" icon="bluesky" href="https://bsky.app/profile/astrodotbuild.bsky.social" />
			</li>
			<li>
				<SocialIconLink name="Discord" icon="discord" href="https://astro.build/chat" />
			</li>
			<li>
				<SocialIconLink name="GitHub" icon="github" href="https://github.com/withastro/astro" />
			</li>
			<li>
				<SocialIconLink name="Mastodon" icon="mastodon" href="https://m.webtoo.ls/@astro" />
			</li>
			<li>
				<SocialIconLink name="Reddit" icon="reddit" href="https://www.reddit.com/r/withastro/" />
			</li>
			<li>
				<SocialIconLink
					name="YouTube"
					icon="youtube"
					href="https://www.youtube.com/@astrodotbuild"
				/>
			</li>
		</ul>
	</section>

	<div class="border-b border-theme-base-700"></div>

	<section class="flex flex-wrap justify-between gap-y-2 py-6 text-sm text-theme-base-400">
		<p>
			{'© 2026 | '}
			<a href="/" class="text-theme-accent-400 underline underline-offset-2 hover:text-theme-accent-300">
				Gitmo
			</a>
			{' | All rights reserved'}
		</p>
		<p class="flex flex-wrap gap-x-4">
			<a href="/shipping" class="text-theme-accent-400 underline underline-offset-2 hover:text-theme-accent-300">
				Shipping Policy
			</a>
			<a href="/privacy" class="text-theme-accent-400 underline underline-offset-2 hover:text-theme-accent-300">
				Privacy Policy
			</a>
			<a href="/terms" class="text-theme-accent-400 underline underline-offset-2 hover:text-theme-accent-300">
				Terms of Service
			</a>
		</p>
	</section>
</footer>
